@model CalcVal

<h3>@Model.Month Information</h3>

<table class="table">
    <tr>
        <th style="color: lightgreen;">ID</th>
        <th style="color: lightgreen;">Month</th>
        <th style="color: lightgreen;">Total Cost</th>
        <th style="color: lightgreen;">Monthly Income</th>
    </tr>
    <tr>
        <td style="color: lightgreen;">@Model.MonthID</td>
        <td style="color: lightgreen;">@Model.Month</td>
        <td style="color: lightgreen;">@Model.TotalCost</td>
        <td style="color: lightgreen;">@Model.MonthlyIncome</td>
    </tr>
</table>

<div style="display: block">
    <a href="/MoneyMan/UpdateCalc/@Model.MonthID" style="color: lightgreen;">Update this tracker</a>
</div>